In [12]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn import model_selection

(10886, 12)

# Loading Data

Hint: Do we need to rename anything?

In [17]:
df = pd.read_csv('bikeshare.csv', index_col='datetime', parse_dates=True)
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [21]:
# Use the .rename() method to rename count to total.
df.rename(columns={'count':'total_rentals'}, inplace=True)

# Feature Selection

Select features for your model and make into X and y. Target is `total_rides`
Use features 'temp', 'humidity', 'windspeed'

In [61]:
#split dataset in features and target variable
feature_cols = ['temp', 'humidity', 'windspeed']
X = df[feature_cols] 
y = df.total_rentals

# Splitting Data

Split dataset into training set and test set

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Build a Linear Regression Model

Build a model and evaluate it using MAE

In [63]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [65]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 116.74652856544766

# Build a Decision Tree Regression Model

In [66]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [67]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 141.48407838334353

# Bonus Super Overtime!

How low can you go? How low can you get the MAE through feature selection and hyperparameter tuning?